{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="exercise-container">
    <h1>Список упражнений</h1>
</div>

<div class="exercise-list">
    {% for exercise in exercises %}
        <div class="exercise-card">
            <strong>{{ exercise.name }}</strong><br>
            Группа мышц: {{ exercise.muscle_group }}<br>
            Снаряжения: {{ exercise.equipment }}<br>
            Тип: {{ exercise.type }}
        </div>
    {% endfor %}
</div>


{% endblock %}
