{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

  <h1>Add Food</h1>

  <div id="content-main">
    <form method="post" id="food_form" novalidate="">
      <input type="hidden" name="csrfmiddlewaretoken" value="m65w316q9jm96eAT6hYLLiRZS8Bms8CPYFdBP3KDX2Bvw2gcXsh2qVDigtmNBJTp">
      
      <div class="form-row">
        <label for="id_name">Name:</label>
        <input type="text" name="name" maxlength="255" required id="id_name">
      </div>

      <div class="form-row">
        <label for="id_serving_size">Serving size:</label>
        <input type="text" name="serving_size" maxlength="100" required id="id_serving_size">
      </div>

      <div class="form-row">
        <label for="id_calories">Calories:</label>
        <input type="number" name="calories" required id="id_calories">
      </div>

      <div class="form-row">
        <label for="id_protein">Protein:</label>
        <input type="number" name="protein" step="any" required id="id_protein">
      </div>

      <div class="form-row">
        <label for="id_carbs">Carbs:</label>
        <input type="number" name="carbs" step="any" required id="id_carbs">
      </div>

      <div class="form-row">
        <label for="id_fat">Fat:</label>
        <input type="number" name="fat" step="any" required id="id_fat">
      </div>

      <div class="form-row">
        <label for="id_sugar">Sugar:</label>
        <input type="number" name="sugar" step="any" required id="id_sugar">
      </div>

      <div class="form-row">
        <label for="id_sodium">Sodium:</label>
        <input type="number" name="sodium" step="any" required id="id_sodium">
      </div>

      <div class="form-row">
        <label for="id_fiber">Fiber:</label>
        <input type="number" name="fiber" step="any" required id="id_fiber">
      </div>

      <div class="submit-row">
        <input type="submit" value="Save" name="_save">
        <input type="submit" value="Save and add another" name="_addanother">
        <input type="submit" value="Save and continue editing" name="_continue">
      </div>
    </form>
  </div>

  <br class="clear">

</body>
</html>

{% endblock %}