{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="food-menu">
    <h1>Добавить блюдо</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="add-button">Сохранить блюдо</button>
    </form>
</div>

<h2>Мои блюда:</h2>
<ul>
    {% for dish in dishes %}
        <li>
            <strong>{{ dish.name }}</strong> — {{ dish.calories }} ккал |
            Б: {{ dish.protein }}г | Ж: {{ dish.fat }}г | У: {{ dish.carbs }}г
        </li>
    {% empty %}
        <li>Пока нет добавленных блюд.</li>
    {% endfor %}
</ul>

    <a href="/">Главная</a>

{% endblock %}