{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="food-recipes">
    <h1>Спортивные блюда</h1>
    <ul>
        {% for recipe in recipes %}
            <li>
                <strong>{{ recipe.name }}</strong> <br>
                Calories: {{ recipe.calories }} kcal |
                Protein: {{ recipe.protein }}g |
                Fat: {{ recipe.fat }}g |
                Carbs: {{ recipe.carbs }}g
            </li>
        {% endfor %}
    </ul>

    <a href="/">Главная</a>
</div>


{% endblock %}
