{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="navbar">
    <h2>Настройки аккаунтa</h2>
    <p><a href="">asdsadsada</a></p>
    <p><a href="">asdsadsada</a></p>
    <p><a href="">asdsadsada</a></p>
    <p><a href="">asdsadsada</a></p>

    <h2>Настройки приватности</h2>
    <p><a href="">asdsadsada</a></p>
    <p><a href="">asdsadsada</a></p>
    <p><a href="">asdsadsada</a></p>
    <p><a href="">asdsadsad</a></p>
</div>
{% endblock %}

